<html>
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>
        @import url(http://fonts.googleapis.com/css?family=Roboto);

        html,body {
            height:100%;
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        }
    </style>
</head>
<body>
    <div class="container-full">
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h1><a href="/">{% ptrans ex_configure_your_email %}Configure your email at{% endptrans %} {{server}}</a></h1>
                <a href="/"><img src="/static/noun_71814_cc.svg" style="width:200px;"></a>
                <p class="lead">{% ptrans ex_lead_1 %}Set your email address and email client and press Get Help or{% endptrans %} <a href="#generic-info">{% ptrans ex_lead_2 %}Read generic information{% endptrans %}</a></p>
                <br>
                <form class="col-lg-6" action="." method="get">
                    <input type="text" name="emailaddress" value="{{email}}" class="center-block form-control input-lg" placeholder="{% ptrans ex_enter_email_address %}Your email address{% endptrans %}">
                    {% for mua in muas %}
                    <div class="form-group">
                        <h3>
                        <label class="radio-inline">
                            <input type="radio" name="mua" id="inlineRadio1" value="{{mua.option}}" {% if mua.option == selected_mua %}checked{% endif %}> {{mua.name}}
                        </label>
                        </h3>
                    {% endfor %}
                    </div>
                    <button class="btn btn-lg btn-primary" type="submit">{% ptrans ex_get_help %}Get help{% endptrans %}</button>
                </form>
            </div>
            <div class="col-lg-12 text-left">
                <!-- {{template_doc}} -->
                {% include template_doc %}
            </div>
        </div>
    </div> <!-- /container full -->
    <div class="container">
        <hr>
        <div class="row">
            <div class="col-lg-12 text-center v-center">
                <h2><a name="generic-info" id="generic-info">{% ptrans ex_lead_2 %}Generic information{% endptrans %}</a></h2>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{% ptrans ex_configure_imap_server %}Incoming email IMAP server{% endptrans %}</h3></div>
                    <div class="panel-body">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>{% ptrans ex_host %}Host{% endptrans %}:</strong> {{imap.host}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_port %}Port{% endptrans %}:</strong> {{imap.port}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_socket %}Connection security{% endptrans %}:</strong> {{imap.socket}}</li>
                        <li class="list-group-item"><strong>Ms Outlook {% ptrans ex_check_spa %}Outlook Check SPA{% endptrans %}:</strong> {{imap.spa}}</li>
                        
                    </ul>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{% ptrans ex_configure_pop_server %}Incoming email POP server{% endptrans %}</h3></div>
                    <div class="panel-body">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>{% ptrans ex_host %}Host{% endptrans %}:</strong> {{pop.host}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_port %}Port{% endptrans %}:</strong> {{pop.port}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_ssl %}SSL{% endptrans %}:</strong> {{pop.spa}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_socket %}Connection security{% endptrans %}:</strong> {{pop.socket}}</li>
                        <li class="list-group-item"><strong>Ms Outlook {% ptrans ex_check_spa %}Check SPA{% endptrans %}:</strong> {{pop.spa}}</li>
                    </ul>
                    <div class="panel-footer">
                        <p class="alert alert-danger">{% ptrans ex_recommended_gmail_only %}Recommended only for Gmail consuming.{% endptrans %}</p>
                        </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="panel panel-default">
                    <div class="panel-heading"><h3>{% ptrans ex_configure_smtp_server %}Outgoing email SMTP server{% endptrans %}</h3></div>
                    <div class="panel-body">
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item"><strong>{% ptrans ex_host %}Host{% endptrans %}:</strong> {{smtp.host}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_port %}Port{% endptrans %}:</strong> {{smtp.port}}</li>
                        <li class="list-group-item"><strong>{% ptrans ex_socket %}Connection security{% endptrans %}:</strong> {{smtp.socket}}</li>
                        {% if smtp.authentication == 'password-cleartext' %}
                            <li class="list-group-item"><strong>{% ptrans ex_password_security %}Authentication method{% endptrans %}:</strong> {% ptrans ex_plain_password %}Normal password{% endptrans %}</li>
                        {% else %}
                            <li class="list-group-item"><strong>{% ptrans ex_password_security %}Authentication method{% endptrans %}:</strong> {% ptrans ex_encrypted_password %}Encrypted password{% endptrans %}</li>
                        {% endif %}
                        {% if smtp.tls == 'on' %}
                            <li class="list-group-item"><strong>Ms Outlook {% ptrans ex_tls %}TLS{% endptrans %}:</strong> {{smtp.tls}}</li>
                        {% else %}
                            <li class="list-group-item"><strong>Ms Outlook {% ptrans ex_ssl %}SSL{% endptrans %}:</strong> {{smtp.ssl}}</li>
                        {% endif %}
                        <li class="list-group-item"><strong>Ms Outlook {% ptrans ex_check_spa %}Check SPA{% endptrans %}:</strong> {{smtp.spa}}</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <br><br>
                    <p class="pull-right">{% ptrans ex_contact_and_support %}Contact and support{% endptrans %}&nbsp;<a href="{{company_contact}}">{{company_name}}</a></p>
                <br><br>
            </div>
        </div>
    </div>
</body>
</html>
